<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">      
        <meta name="keywords" content="HTML,CSS,XML,JavaScript">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Style/index.css" type="text/css">
        <title>ENGLISH FOR EXAMS</title>
    </head>
    <body>
        <header>                        
            <h1>english <div>for</div> exams</h1>    
            <span>Ivana Ikegame</span>
        </header>           
        
        
        <section class="firstSection">
            
            <article class='firstArticle'>
                <h2>Sobre mim </h2>

                <div>
                    <figure>
                        <img src="../Images/photo.png" alt="Ivana Lages foto">
                    </figure> 
    
                    <p>                    
                        Estudei Letras na Universidade do Estado do Rio de Janeiro,Inglês e Literaturas Inglesa e Norte Americana.
                        Possuo diplomas das Faculdades Brigham Young University(BYU) e London University. 
                        Leciono lingua inglesa desde 1994. Trabalhei com professora, coordenadora pedagógica e diretora escolar.
                        Possuo quatro livros didáticos de lingua inglesa publicados e comercializados pela Editora Rodrigues e Oliveira.
                        Atualmente  me dedico a preparar alunos para exames de proficiência.
                        Sou fundadora e proprietária do English for Exams curso preparatório para provas e testes internacionais.
                    </p> 
                </div>
                   
                
                        
            </article>  

            <article class='secondArticle'>
                
                <div>
                    <h2>Formação</h2>
                    <figure>
                        <img src="../Images/diploma.png" alt="">
                    </figure>
                </div>           
                
                <ul>
                    <li>UERJ - Letras - Inglês, Literatura Inglesa e Norte Americana</li>
                    <li>UERJ - Especialização em Ingles Arcaico e Obras de Shakespeare (1998)</li>
                    <li>TKT - cambridge - Certificações Internacionais para Mestres</li>
                    <li>Trinity University - London - Curso de Atualização de Professores</li>
                    <li>Brigham Young University - BYU - Utah - curso de Atualização de Professores</li>
                    <li>Cultura Inglesa - Curso Completo - Inclusive Formação de Professores</li>
                    <li>Pontuação TOEIC - 970 pontos</li> 
                </ul> 
                    
            </article>
           
            
        </section>       
        
        
<section class="buttons">                 
    <div>
        <a href="../index.html">
        <button>Estudantes</button>      
        </a>
    </div>
    
    <div>
        <a href="/View/professores.html">
        <button>Professores</button>              
        </a>
    </div>   
</section> 

<div class="content"><div>Escolas</div> </div>

<main class="conteudo-dinamico figure">

    <article>
        <h2>Treinamento,Seleção e Recrutamento de Professores</h2>
        <p>Recrutamento,seleção e treinamento de professores nas metodologias utilizadas nos principais cursos de idiomas. Como por exemplo communicative approach</p>
        <figure class='figure'>
            <img src="../Images/treinamento.jpg" alt="">
        </figure>
    </article>    
</main>           

        <footer>
            <section>
                <p class="footer-title"> Contato</p>
                <p class="footer-subtitle">(21) 9 9999-9999</p>              
            </section>
        </footer>
    </body>
</html>